.notification {
  display: flex;
  align-items: center;
  padding: 8px 16px;
  border-bottom: 1px solid rgb(235,235,235);
  width: 100%;
}

.notification .notification-content {
  flex-grow: 1;
  padding: 0 24px;
}

.notification p {
  margin: 0;
  line-height: 1.4;
}

.notification small {
  color: #999999;
  font-weight: bold;
}

.notification-actions a {
  opacity: 0;
  transition: ease .3s;
  flex-grow: 3;
  color: #999999 !important;
}

.notification:hover .notification-actions a {
  opacity: 1;
  color: #999999 !important;
}

.notification .notification-actions a:hover {
  color: #555555 !important;
  text-decoration: none;
}

@media(max-width: 1024px) {
.notification-actions a {
  opacity: 1;
}

.notification:last-child {
  padding-bottom: 50px;
}

.tabs-wrapper {
  display: flex;
  justify-content: center;
}
}
/* The part below is added for styling the mobile. I couldn't
fit all of them in one line properly and this was the solution
I came up with. I still have two minor problems: In landscape,
the last notification action isn't proper. The second issue is:
when I click suggestions and find designers in portrait I have
a glitch which I couldn't find how to fix */

@media(max-width: 520px) {
/* @media (orientation: portrait) and (max-width: 480px) */
.notification {
  flex-direction: column;
}

.notification-content {
  text-align: center;
  margin-top: 7px;
  margin-bottom: 5px;
}

.notification-actions a {
  font-weight: bold;
  color: blue !important;
  opacity: .5;
  /* animation: animate 1.5s linear infinite; */
}
 /* @keyframes animate{
   0%{
     opacity: 0;
   }
   50%{
     opacity: 0.7;
   }
   100%{
     opacity: 0;
   }
 } */
}
